* {
    padding: 0px;
    margin: 0px;
    font-style: normal;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.banner-img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

.banner-content {
    margin-left: 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
}

.banner-description {
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.btn-primary {
    padding: 20px 43px;
    margin-top: 30px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.about {
    height: 100vh;
}

.about-img {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 1450px;

}

.about-title {
    margin-top: 170px;
    text-align: center;
}

.about-description {
    margin-top: 25px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}

.sample-img1 {
    padding: 110px 75px 0px 75px;
    margin-top: 45px;
    background-image: url('./Flower Asset/pink.jpg');
    background-position: center;
    background-size: cover;
}

.sample-img2 {
    padding: 110px 45px 50px 45px;
    margin-top: 45px;
    background-image: url('./Flower Asset/blue.jpg');
    background-position: center;
    background-size: cover;
}

.sample-img3 {
    padding-top: 70px;
    padding-right: 75px;
    padding-left: 75px;
    margin-top: 45px;
    background-image: url('./Flower Asset/green.jpg');
    background-position: center;
    background-size: cover;
}

.flower-name {
    width: 1600px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;


}

.name1 {
    padding-left: 380px;
}

.service {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 320px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;

}

.service-img {
    padding-top: 100px;
    padding-bottom: 20px;
}

.service-description {
    width: 110%;
    padding-top: 20px;
}

.customer-offer {
    margin-top: 130px;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer-offer-details {
    align-items: center;
}

.offer-img {
    margin-top: 100px;
    margin-right: 430px;
}

.offer-title {
    margin-left: 420px;
    color: #272727;
    font-size: 40px
}

.offer-description {
    margin-left: 390px;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

.btn-primary1 {
    margin-left: 600px;
    padding: 20px 43px;
    margin-top: 30px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.blog {
    width: 1440px;
    margin-top: 100px;
    height: 100vh;
    align-items: center;
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
}

.blog-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.blog-title {
    color: #272727;
    font-size: 40px;
}

.blog-description {
    margin-top: 15px;
    margin-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.customer-info {
    margin-top: 100px;
    width: 1440px;
    height: 350px;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-size: cover;
}

.customer-email {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.customer-info-title {
    text-align: center;
    padding-top: 100px;
    color: #272727;
    font-size: 40px;
}

.customer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.email-bar {
    margin-left: 280px;
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    margin-top: 30px;
}
.btn-primary2{
    padding: 20px 43px;
    margin-top: 30px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}